<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu para alumno -->
        <record model="ir.actions.act_window" id="action_alumno_tree">
            <field name="name">Ver alumnos</field>
            <field name="res_model">instituto.alumno</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="view_alumno_form"/>
            <field name="view_id" ref="view_alumno_tree"/>
        </record>

        <!-- Barra para alumno -->
        <menuitem   id="menu_alumno" 
                    name="alumnos" 
                    parent="menu_principal"/>
        <menuitem   id="menu_alumno_todos" 
                    name="Ver todos" 
                    parent="menu_alumno" 
                    action="action_alumno_tree"
                    groups="group_administrador,group_alumno"/>
    </data>
</odoo>
