<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu para empresa -->
        <record model="ir.actions.act_window" id="action_empresa_tree">
            <field name="name">Ver empresa</field>
            <field name="res_model">instituto.empresa</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="view_empresa_form"/>
        </record>
        <record model="ir.actions.act_window" id="action_empresa_form">
            <field name="name">Nueva empresa</field>
            <field name="res_model">instituto.empresa</field>
            <field name="view_mode">form</field>
            <field name="view_id" ref="view_empresa_tree"/>
        </record>

        <!-- Barra para empresa -->
        <menuitem   id="menu_empresa"
                    name="Empresas"
                    parent="menu_principal"/>
        <menuitem   id="menu_empresa_todos"
                    name="Ver todos" 
                    parent="menu_profesor" 
                    action="action_empresa_tree"
                    groups="group_administrador,group_empresa"/>
        <menuitem   id="menu_empresa_nuevo"
                    name="Nuevo"
                    parent="menu_empresa"
                    action="action_empresa_form"
                    groups="group_administrador"/>
    </data>
</odoo>
